* {
  margin: 0;
  padding: 0;
  outline: none;
  scroll-behavior: smooth;
}

html {
  font-family: Karla, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(217, 255, 252);
}

/* scale center */
/* .transition {
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    opacity: 0;
    width: 10%;
    height: 10%;
    z-index: 999999;
} */

/* slide in */
.transition-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999999;
  overflow: hidden;
  pointer-events: none;
}

.transition {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background: rgb(255, 229, 216);
  width: 0%;
  height: 100%;
}


h1,
h2,
h3,
h4 {
  font-family: 'Poppins', sans-serif;
  text-rendering: optimizelegibility;
}

header {
  margin-bottom: 150px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  top: 5px;
  z-index: 99999;
}

header a img {
  padding-top: 10px;
}

header ul {
  display: flex;
  width: 500px;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}

header ul li {
  font-size: 11pt;
  color: rgb(250, 64, 64);
}

header ul li a {
  font-size: 11pt;
  text-decoration: none;
  color: rgb(250, 64, 64);
  position: relative;
}

header ul li a:after {
  top: 90%;
  border-radius: 1em;
  border-top: .1em solid rgb(255, 98, 98);
  content: "";
  position: absolute;
  right: 100%;
  bottom: .14em;
  left: 0;
  transition: right 1s cubic-bezier(0, .5, 0, 1);
}

header ul li a:hover:after {
  right: 0;
}

.first-0,
.first-1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.first-section {
  /* overflow: hidden; */
  width: 100%;
  height: 130vh;
  position: relative;
  box-sizing: border-box;
}

.img-section {
  position: relative;
  width: 100%;
  height: 100%;
}

.first-section .title-container {
  box-sizing: border-box;
  position: absolute;
  top: 255px;
  z-index: 100;
  height: 500px;
  width: 100%;
  overflow: hidden;
}

.first-section .title {
  margin-top: 35px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 1px 3px 5px rgb(194, 194, 194);
  margin-bottom: 20px;
  max-width: 50%;
  height: 120px;
  transition: background-color 0.2s ease;
}

.title-container .title:nth-child(2) {
  right: -50%;
}

.first-section .title:nth-child(2) .title-text-2 {
  left: -10px;
}

.first-section .title .title-text-2 {
  bottom: -32px;
  right: -30px;
  position: absolute;
  color: #ffffff;
  z-index: 1;
}

.title-text-2 {
  font-family: 'Lora', serif;
  font-size: 4rem;
  text-shadow: 1px 2px 5px rgb(0, 0, 0);
}

.title-container:hover .title {
  background-color: rgba(255, 202, 181);
}

.first-section .first-0 {
  position: absolute;
  top: 50px;
  left: 0;
}

.first-section .first-1 {
  position: absolute;
  top: 50px;
  left: 0;
}

.first-section .first-2 {
  max-width: 20%;
  position: absolute;
  top: 10%;
  right: 10%;
}

.first-section .first-3 {
  max-width: 10%;
  position: absolute;
  top: 15%;
  left: 10%;
}

.second-section {
  width: 100%;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.second-section img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  bottom: 110px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.second-0 {
  z-index: 200;
}

.second-4 {
  z-index: 5;
}


.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #ff5353;
  fill: transparent;
  stroke-width: 3px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

.third-section {
  width: 100%;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
}

@keyframes arrow {
  0% {
    opacity: 0
  }

  40% {
    opacity: 1
  }

  80% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

@-webkit-keyframes arrow

/*Safari and Chrome*/
  {
  0% {
    opacity: 0
  }

  40% {
    opacity: 1
  }

  80% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  /* Safari 和 Chrome */
}

.text-center {
  text-align: center;
}

.title-text {
  width: 80%;
  margin: auto;
  line-height: 1.5;
  font-size: 8vw;
}

.subtitle-text {
  width: 100%;
  margin: auto;
  font-size: 4vw;
}

.svg-container {
  position: relative;
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-around;
}

.key {
  bottom: 20%;
  right: 30%;
  position: absolute;
}

.sign-section {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

#wave {
  min-width: 1200px;
  top: 55%;
  position: absolute;
}

.sign-section > #wave {
  display: block;
  transform-origin: bottom;
}

.form-container {
  min-width: 400px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 50px;
  height: 100%;
  border-radius: 30px;
  text-align: center;
  box-shadow: 1px 2px 10px rgb(129, 129, 129);
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"] {
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 10pt;
}

.form-container input[type="submit"] {
  background-color: rgb(255, 98, 93);
  border: none;
  border-radius: 20px;
  padding: 12px 15px;
  margin: 8px 0;
  width: 50%;
  color: white;
  font-weight: bolder;
  font-size: 10pt;
  cursor: pointer;
}

form p {
  color: #575757;
  line-height: 2;
}

.link-p:hover,
form a:hover {
  color: #f55c03;
}

.check-password {
  display: none;
  overflow: hidden;
}

.check-password div span {
  margin-left: 5px;
  color: #5c5c5c;
}

.warning-msg {
  padding: 2px 30px;
  background-color: rgb(253, 82, 82);
  border-radius: 20px;
  color: white;
  display: none;
  margin: 5px;
}

.success-msg {
  padding: 2px 30px;
  background-color: rgb(5, 146, 24);
  border-radius: 20px;
  color: white;
  display: none;
  margin: 5px;
}

.form-container input[type="password"]:focus + .check-password {
  height: 100%;
}

.form-container input[type="submit"]:hover {
  background-color: #e70000;
}

.info-container {
  position: relative;
  margin: 100px 12vw;
}

.info-container h1 {
  color: #fc5555;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.info-container h2 {
  margin: 20px auto;
  color: #ff8585;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.input-container p {
  font-size: 12pt;
  color: #5a5a5a;
}

.input-container .input-div {
  flex: 0 0 50%;
  margin: 20px auto;
}

.pinput {
  border: none;
  padding: 8px 10px;
  width: 80%;
  /* outline: none; */
  font-size: 11pt;
}

.pselect {
  width: 80%;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 7px 10px;
  font-size: 11pt;
  cursor: pointer;
  background-color: #fff;
}

.pdate {
  width: 80%;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
  display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: #3a3a3a;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 11pt;
  border: 1px solid #ecf0f1;
  background: #ffffff;
  padding: 8px 12px;
  display: inline-block !important;
  visibility: visible !important;
}

input[type="date"]:focus {
  color: #888888;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.pbtn-div {
  flex: 0 0 100%;
  margin: 20px auto;
  transition: flex .2s ease-in-out;
}

.pbtn {
  background-color: rgb(255, 98, 93);
  border: none;
  border-radius: 20px;
  padding: 12px 15px;
  margin: 12px auto;
  width: 200px;
  color: white;
  font-weight: bolder;
  font-size: 10pt;
  cursor: pointer;
  transition: width .2s ease-in-out;
}

.pbtn:hover {
  background-color: #fd4343;
  width: 300px;
}

#agent-container {
  display: none;
}

.agentcard-img {
  position: relative;
  width: 100%;
  height: 50vh;
  border: 2px dashed rgb(94, 94, 94);
  text-align: center;
}

.agentcard-img:hover {
  cursor: crosshair;
}

#card-img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  line-height: 50vh;
  color: rgb(97, 97, 97);
}

.cb-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14pt;
  color: #585858;
  font-weight: bolder;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(235, 235, 235);
}

/* On mouse-over, add a grey background color */
.cb-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cb-container input:checked ~ .checkmark {
  background-color: #ff7373;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cb-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cb-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.search-container {
  margin-top: 100px;
  height: 100%;
  width: 100%;
}

.searchbar-container {
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  margin: 50px auto 0px auto;
  background-color: white;
  box-shadow: -1px 1px 10px rgb(175, 175, 175);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 70%;
  overflow: hidden;
}

.searchbar {
  flex-grow: 9;
  border: none;
  border-radius: 4px;
  font-size: 14pt;
  background-image: url('assets/searchicon.png');
  background-position: 7px 0px;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 16px 70px;
  pointer-events: auto;
  color: #4b4b4b;
}

.sbtn {
  margin: 7px 3px;
  flex-grow: 1;
  border: none;
  border-radius: 5px;
  padding: 12px;
  font-size: 10pt;
  cursor: pointer;
}

.resetbtn {
  background-color: transparent;
  color: #8a8a8a;
}

.resetbtn:hover {
  background-color: rgb(145, 145, 145);
  color: #fcfcfc;
}

.searchbtn {
  color: rgb(231, 231, 231);
  background-color: rgb(255, 87, 75);
}

.searchbtn:hover {
  background-color: rgb(252, 34, 18);
}

.advancebtn {
  padding: 9px;
  flex-grow: 1;
  font-size: 14pt;
  margin-right: 10px;
}

.advancebtn:hover {
  background-color: #1f3866;
  color: white;
}

.filter-container {
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  margin: 20px auto;
  background-color: white;
  box-shadow: -1px 1px 10px rgb(175, 175, 175);
  width: 70%;
  overflow: hidden;
  display: none;
}

.filteeitem-container {
  margin: 25px;
}

.filter-title {
  color: #5e5e5e;
  font-size: 12pt;
  padding: 10px;
  border-right: 1.5px solid rgb(179, 179, 179);
  display: inline-block;
  width: 100px;
  text-align: center;
}

.filter-container div input[type="checkbox"] {
  visibility: hidden;
}

.filter-option {
  font-size: 12pt;
  color: #ffffff;
  padding: 5px 20px 5px 10px;
  margin: 5px 0;
  background-color: #fa6363;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
}

.filter-option:hover {
  background-color: #f88d8d;
}

#slider-range {
  flex: 1 1 40%;
  margin: 5px 10px;
}


/*property management***************************/

.container {
  margin: 5% 1%;
  padding: 10px 0;
}

.side_bar {
  padding: 2px;
  /*  background-color: #eaab00;*/
  /* gold */
  /* Single pixel data uri image http://jsfiddle.net/LPxrT/ 
  /* background-image: gold, gold, white */
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAOqrAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='), url('data:image/gif;base64,R0lGODlhAQABAPAAAOqrAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),
    url('data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==');
  background-repeat: no-repeat;
  background-size: 0 2px, 0 100%, 0% 2px;
  background-position: top center, top center, bottom center;
  -webkit-animation: drawBorderFromCenter 1s;
  width: 25%;
}

.main-content {
  /*  display: inline-block;*/
  position: relative;
  display: inline-flex;
  justify-content: space-around;
}


#exchange_area {
  padding: 2px;
  position: absolute;
  /*    background-color: #eaab00;*/
  /* gold */
  /* Single pixel data uri image http://jsfiddle.net/LPxrT/ 
  /* background-image: gold, gold, white */
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAOqrAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='), url('data:image/gif;base64,R0lGODlhAQABAPAAAOqrAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),
    url('data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==');
  background-repeat: no-repeat;
  background-size: 0 2px, 0 100%, 0% 2px;
  background-position: top center, top center, bottom center;
  -webkit-animation: drawBorderFromCenter 1s;

  /*  background-color: coral;*/
  width: 65%;
  /*  max-width: 800px;*/
  margin: 0px 3%;
  min-height: 550px;
}

#p1,
#p2,
#p3,
#p4 {
  background-color: rgb(199, 198, 199);
  width: 99%;
  height: 99%;
  margin: auto;
  position: absolute;
  opacity: 0;
  z-index: -1;
}


.p3_tab_btn {
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(222, 42, 222, 0.33);
  color: rgb(129, 31, 91);
  font-weight: 700;
  font-size: 1em;
  position: relative;
  top: 50%;
  left: calc((100% - 250px) / 2);
  cursor: pointer;
  width: 250px;
  text-decoration: none;
}

.p3_tab_btn:hover {
  color: white;
  background-color: rgb(214, 114, 214);
}



#exchange_area div.clicked {
  position: absolute;
  z-index: 1;
  opacity: 1;
}

.mcd-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #FFF;
  border-radius: 2px;
  /* == */
  width: 100%;
  /* == */
}

.mcd-menu li {
  position: relative;
}

.mcd-menu li a {
  display: block;
  text-decoration: none;
  padding: 12px 20px;
  color: #777;
  /*text-align: center;
  border-right: 1px solid #E7E7E7;*/

  /* == */
  text-align: center;
  height: 36px;
  position: relative;
  border-bottom: 1px solid #EEE;
  /* == */

}

.mcd-menu li a i {
  /*display: block;
  font-size: 30px;
  margin-bottom: 10px;*/

  /* == */
  float: left;
  font-size: 20px;
  margin: 0 10px 0 0;
  /* == */

}

/* == */
.mcd-menu li a p {
  float: left;
  margin: 0;
}

/* == */

.mcd-menu li a strong {
  display: block;
  text-transform: uppercase;
}

.mcd-menu li a small {
  display: block;
  font-size: 0.8rem;
}

.mcd-menu li a i,
.mcd-menu li a strong,
.mcd-menu li a small {
  position: relative;

  transition: all 300ms linear;
  /*
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
*/
}

.mcd-menu li:hover > a i {
  opacity: 1;
  /*
  -webkit-animation: moveFromTop 300ms ease-in-out;
  -moz-animation: moveFromTop 300ms ease-in-out;
  -ms-animation: moveFromTop 300ms ease-in-out;
  -o-animation: moveFromTop 300ms ease-in-out;
*/
  animation: moveFromTop 300ms ease-in-out;
}

.mcd-menu li:hover a strong {
  opacity: 1;
  /*
  -webkit-animation: moveFromLeft 300ms ease-in-out;
  -moz-animation: moveFromLeft 300ms ease-in-out;
  -ms-animation: moveFromLeft 300ms ease-in-out;
  -o-animation: moveFromLeft 300ms ease-in-out;
*/
  animation: moveFromLeft 300ms ease-in-out;
}

.mcd-menu li:hover a small {
  opacity: 1;
  /*
  -webkit-animation: moveFromRight 300ms ease-in-out;
  -moz-animation: moveFromRight 300ms ease-in-out;
  -ms-animation: moveFromRight 300ms ease-in-out;
  -o-animation: moveFromRight 300ms ease-in-out;
*/
  animation: moveFromRight 300ms ease-in-out;
}

.mcd-menu li:hover > a {
  color: rgb(250, 64, 64);
}

.mcd-menu li a.active {
  position: relative;
  color: rgb(250, 64, 64);
  border: 0;
  /*border-top: 4px solid #e67e22;
  border-bottom: 4px solid #e67e22;
  margin-top: -4px;*/
  box-shadow: 0 0 5px #DDD;
  /*
  -moz-box-shadow: 0 0 5px #DDD;
  -webkit-box-shadow: 0 0 5px #DDD;
*/

  /* == */
  border-left: 4px solid rgb(250, 64, 64);
  border-right: 4px solid rgb(250, 64, 64);
  margin: 0 -4px;
  /* == */
}

.mcd-menu li a.active:before {
  content: "";
  position: absolute;
  /*top: 0;
  left: 45%;
  border-top: 5px solid #e67e22;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;*/

  /* == */
  top: 42%;
  left: 0;
  border-left: 5px solid rgb(250, 64, 64);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  /* == */
}

/* == */
.mcd-menu li a.active:after {
  content: "";
  position: absolute;
  top: 42%;
  right: 0;
  border-right: 5px solid rgb(250, 64, 64);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

/* == */

@-webkit-keyframes moveFromTop {
  from {
    opacity: 0;
    /*
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -o-transform: translateY(200%);
*/
    transform: translateY(200%);
  }

  to {
    opacity: 1;
    /*
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
*/
    transform: translateY(0%);
  }
}

@-webkit-keyframes moveFromLeft {
  from {
    opacity: 0;
    /*
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
*/
    transform: translateX(200%);
  }

  to {
    opacity: 1;
    /*
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
*/
    transform: translateX(0%);
  }
}

@-webkit-keyframes moveFromRight {
  from {
    opacity: 0;
    /*
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
*/
    transform: translateX(-200%);
  }

  to {
    opacity: 1;
    /*
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
*/
    transform: translateX(0%);
  }
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
  .mcd-menu {
    /*    margin-left: 10px;*/
  }
}

@media only screen and (max-width: 960px) {
  .mcd-menu li a small {
    display: none;
  }

  .mcd-menu li a strong {
    font-size: 15px;
  }

  .mcd-menu li a {
    padding: 10px;
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes drawBorderFromCenter {
  0% {
    background-size: 0 2px, 0 0, 100% 100%;
  }

  20% {
    background-size: 100% 2px, 100% 0, 100% 100%;
  }

  66% {
    background-size: 100% 2px, 100% 98%, 100% 100%;
  }

  99% {
    background-size: 100% 2px, 100% 100%, 0 2px;
  }

}

.form_bgc {
  background: #3b3f45;
  position: relative;
  width: 100%;
  min-height: 540px;
  height: 100%;
  margin: 0, auto;
  padding: 0;
  overflow: hidden;
  /*  overflow-y: scroll;*/
}

.form_status {
  position: absolute;
  top: 0;
  height: 10px;
  background-color: darkkhaki;
  width: 25%;
}

.form_step {
  position: absolute;
  margin: 10px;
  color: white;
  right: 0;
  text-align: right;
  font-size: 2em;
}

#huge_form {
  font-size: 1.9em;
  /*  position: relative;*/
  border-radius: 0;
}

#huge_form li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 10%;
  display: inline-block;
  padding: 10px 5px 0 0;
  font-weight: 700;
  z-index: -1;
  padding-left: 15px;
  text-align: left;
  /*    pointer-events: none;*/
}

#huge_form li.activeForm {
  z-index: 99;
  margin:
}

#huge_form .fs-fields {
  /*  position: relative;*/
  margin: 0;
  padding: 0;
  top: 0;
  list-style: none;
}

.fs-fields li label {
  color: white;
  font-weight: 800;
}

.fs-fields input {
  display: block;
  margin: 0;
  margin-bottom: 1em;
  padding: 0 0.15em;
  width: 90%;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  color: #fffed8;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 0;
}

.property_form_btn {
  margin: 10px 15px;
  font-size: 1em;
  padding: 0.2em 1em;
  border: 3px solid #232529;
  border-radius: 40px;
  font-weight: 700;
}

#huge_form .back {
  position: absolute;
  background-color: transparent;
  left: 0;
  bottom: 0;
  color: rgba(0, 0, 0, 0.4);
}

#huge_form .back:hover {
  cursor: pointer;
  background-color: #232529;
  color: white;
}

#huge_form .next {
  color: rgba(29, 239, 231, 0.88);
  background-color: rgba(217, 32, 111, 0.95);
  position: absolute;
  right: 0;
  bottom: 0;
}

#huge_form .next:hover {
  cursor: pointer;
  background-color: rgba(29, 239, 231, 0.88);
  ;
  color: black;
}

#sel_type {
  display: block;
  background-color: rgba(45, 59, 116, 0.72);
  color: #fffed8;
  font-size: 1em;
  margin-bottom: 1em;
}

input.address {
  font-size: 25px;
  line-height: 3;
  padding: 10px;
}

/*bootstrap table*/

.table.dataTable,
.dataTables_wrapper {
  width: 90%;
  margin: 1em auto;
}

.table.dataTable {
  width: 100%;
  overflow-x: auto;
}

.dataTables_length {
  margin-bottom: 1em;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #c6c8ca;
}

.table-dark th,
.table-dark td,
.table-dark thead th,
.table-dark tbody + tbody {
  border-color: #95999c;
}

.table-hover .table-dark:hover {
  background-color: #b9bbbe;
}

.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
  background-color: #b9bbbe;
}

.table-dark,
.table.dataTable tbody tr {
  color: #fff;
  background-color: #343a40;
}

.table-dark th,
.table-dark td,
.table-dark thead th,
.table.dataTable tbody tr {
  border-color: #454d55;
}

.table-dark.table-hover tbody tr:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.075);
}

.table-responsive-sm {
  /*  display: block;*/
  width: 100%;
  overflow-x: auto;
}

.table_btn {
  cursor: pointer;
  background-color: rgb(250, 64, 64);
  padding: 0.2em 1em;
  border-radius: 3px;
  text-decoration: none;
  display: flex;
  margin: 0 auto;
  font-size: 19px;
  justify-content: center;
  font-weight: 700;
  border: 1px solid white;
}

.table_btn:hover {
  background-color: white;
  color: rgb(250, 64, 64);
}

@media (max-width: 778.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table_btn {
    display: block;
  }
}

/*modal***********************/
.modal-window,#form-sure {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
  transform: translateY(-100%);
  transform: scale(0.5);
}

.modal-window:target, #form-sure:target{
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
  transform: scale(1);
}

.modal-window > form,#form-sure>div {
  width: 400px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*  z-index: 99;*/
  height: 500px;
  overflow-y: scroll;

  /*  max-width: 450px;*/
  background: #FAFAFA;
  padding: 50px;
  margin: 50px auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 6px solid rgb(255, 180, 158);
  ;
}

#form-sure>div{
  display:flex;
  flex-direction: column;
}
#form-sure>div label,#form-sure>div input{
  margin: 5px;
}

#form-sure p{
  display:flex;
}
.prop_close_form1{
  cursor: pointer;
  font-weight: 800;
  display: inline-block;
  margin:10px;
  width: 200px;
  padding: 10px;
  text-decoration: none;
  background-color: rgb(255, 234, 121);
  border: 1px solid white;
  text-align: center;
}
.prop_close_form1:hover{
  background-color: rgb(78, 74, 49);
}
.modal-close,.modal-close-2 {
  color: rgba(0, 0, 0, 0.35);
  /*  display: block;*/
  /*  background-color: blue;*/
  line-height: 50px;
  font-size: 2em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  font-weight: 800;
}
.modal-close-2{
  right: 0;
  top: 50%;
}

.modal-close:hover,.modal-close-2:hover {
  color: black;
}

a {
  color: inherit;
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

/*2nd form*/
.modal-window > form label {
  display: block;
  margin-bottom: 10px;
}

.modal-window > form label > span {
  float: left;
  width: 110px;
  color: rgba(255, 89, 89, 0.74);
  font-weight: bold;
  font-size: 15px;
  text-shadow: 1px 1px 1px #fff;
}

.modal-window > form fieldset {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 0px 0px 10px 0px;
  border: 1px solid rgba(206, 84, 19, 0.46);
  padding: 20px;
  background: #FFF4F4;
  box-shadow: inset 0px 0px 15px rgba(206, 84, 19, 0.82);
  -moz-box-shadow: inset 0px 0px 15px rgba(206, 84, 19, 0.82);
  -webkit-box-shadow: inset 0px 0px 15px rgba(206, 84, 19, 0.82);
}

.modal-window > form legend {
  color: rgba(209, 52, 52, 0.63);
  border-top: 3px solid #FFD2D2;
  border-left: 3px solid #FFD2D2;
  border-right: 3px solid #FFD2D2;
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  background: #FFF4F4;
  padding: 0px 8px 3px 8px;
  box-shadow: -0px -1px 2px #F1F1F1;
  -moz-box-shadow: -0px -1px 2px #F1F1F1;
  -webkit-box-shadow: -0px -1px 2px #F1F1F1;
  font-weight: 600;
  font-size: 1em;
}

.modal-window > form textarea {
  width: 250px;
  height: 100px;
}

.modal-window > form input[type=text],
.modal-window > form input[type=date],
.modal-window > form input[type=datetime],
.modal-window > form input[type=number],
.modal-window > form input[type=search],
.modal-window > form input[type=time],
.modal-window > form input[type=url],
.modal-window > form input[type=email],
.modal-window > form select,
.modal-window > form textarea {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: none;
  border-bottom: 2px solid rgba(245, 182, 182, 0.82);
  outline: none;
  color: rgba(237, 90, 46, 0.82);
  padding: 5px 8px 5px 8px;
  box-shadow: inset 1px 1px 4px #FFD5E7;
  -moz-box-shadow: inset 1px 1px 4px #FFD5E7;
  -webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
  background: #FFEFF6;
  width: 50%;
  font-size: 1em;
  transition: all 0.2s ease-out;
}


.modal-window > form input:hover {
  background: rgba(247, 177, 134, 0.8);
  border-bottom: 2px dashed rgba(245, 182, 182, 0.82);
}

.modal-window > form input:focus {
  width: 60%;
}

.modal-window > form button[type=submit],
.modal-window > form button[type=button],
.modal-window > form button[type=reset] {
  background: #EB3B88;
  border: 1px solid #C94A81;
  padding: 5px 15px 5px 15px;
  color: #FFCBE2;
  box-shadow: inset -1px -1px 3px #FF62A7;
  -moz-box-shadow: inset -1px -1px 3px #FF62A7;
  -webkit-box-shadow: inset -1px -1px 3px #FF62A7;
  border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-weight: bold;
}

.required {
  color: red;
  font-weight: normal;
}

/*card*/
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  transition: 0.5s ease;
  border-radius: 0;
  transform: rotateX(0deg) rotateY(-1.175deg);
  cursor: pointer;
  height: 450px;
  margin: 0 20px;
  min-width: 300px;
  max-width: 300px;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding-top: 0rem;
  padding-bottom: 2rem;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, .03);
  border-bottom: 1px solid rgba(0, 0, 0, .125) border-radius: 0;
}

.card-title {
  margin-bottom: .75rem
}

.card:hover {
  box-shadow: 0px 0px 20px -3px rgba(143, 143, 143, .75);
}

.font-weight-bolder {
  font-weight: 900;
  color: rgb(250, 64, 64);
}

.discount-font {
  font-weight: 700;
}

.card-footer {
  padding: .75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.13);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.card-header,
.card-footer {
  transition: 0.5s ease;
}

.card:hover {
  border-color: #ffc107;
  transform: rotateX(0deg) rotateY(0deg);
}

.card:hover .font-weight-bolder {
  font-size: 1.3em;
  color: grey;
}

.card:hover .card-header,
.card:hover .card-footer {
  border-color: #ffc107;
  background-color: #ffeeba;
}

.card:hover .promotion-promo {
  transform: scale(1.175) translateY(2.5px);
  transform-origin: left center;
}

.card:hover .promotion-price {
  transform: translate(2.5px, 17.5px) scale(1.15);
  transform-origin: center right;
}

.card .btn {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgba(255, 14, 14, 0.84);
  padding: 10px;
  border-radius: 3px;
  position: relative;
  width: 100px;
  left: calc((100% - 90px) / 2);
}

.card .btn:hover {
  background-color: rgb(65, 52, 52);
  color: white;
}

.promotion-promo {
  font-weight: 700;
  font-size: 1.15rem;
  color: #ffc107;
  font-family: 'Montserrat', sans-serif;
  text-decoration: line-through;
  transition: 0.25s linear;
}

.promotion-price {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #e67e22;
  width: 70px;
  height: 70px;
  padding-bottom: 0rem;
  padding-top: 0.5rem;
  text-align: center;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  border-radius: 5rem;
  color: #fff;
  z-index: -1;
  transform: translate(5px, 27.5px) rotate(-9deg);
  border: 1px dashed #fff;
  transition: 0.25s linear;
  line-height: 1.15;
}

.promotion-price-desc {
  padding: 0;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 0.9rem;
  display: block;
}

.promotion-price-text {
  padding: 0;
  margin: 0 auto;
  font-weight: 900;
}

.pin-overlay {
  width: 100%;
  height: 100%;
  /*  margin: 10px auto;*/
  position: absolute;
  left: 100%;
  top: -100%;
  z-index: -1;
  transition: 0.25s ease-in-out;
  opacity: 0;
  /*  transform: rotate(30deg);*/
  /*  border: 1px solid red;*/
}

#house-deck,
#house-deck1 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 100%;
  background-color: rgba(65, 52, 52, 0.83);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  overflow-x: auto;
  transition: all 0.2s ease-out;
  transform: translateY(-100%);
}

#house-deck:target,
#house-deck1:target {
  visibility: visible;
  transform: translateY(0);
}



#slideshow1,
#slideshow2,
#slideshow3,
#slideshow4,
#slideshow5,
#slideshow6,
#slideshow7,
#slideshow8 {
  margin: 10px auto;
  position: relative;
  width: 80%;
  max-width: 250px;
  height: 60%;
  max-height: 200px;
  /*  padding: 10px;*/
  /*  box-shadow: 0 0 20px rgba(255, 255, 254, 0.38);*/
}

#slideshow1 > div,
#slideshow2 > div,
#slideshow3 > div,
#slideshow4 > div,
#slideshow5 > div,
#slideshow6 > div,
#slideshow7 > div,
#slideshow8 > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

#slideshow1 > div > img,
#slideshow2 > div > img,
#slideshow3 > div > img,
#slideshow4 > div > img,
#slideshow5 > div > img,
#slideshow6 > div > img,
#slideshow7 > div > img,
#slideshow8 > div > img {
  width: 100%;
  height: 100%;
}

.deck-close {
  position: absolute;
  bottom: 10%;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  background-color: rgba(243, 247, 142, 0.97);
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  left: calc((100% - 90px) / 2);
}

.deck-close:hover {
  background-color: rgba(44, 44, 39, 0.97);
  color: white;
}

#card-slider,
#card-slider1 {
  width: 80%;
  display: flex;
  margin: auto;
  /*  overflow: hidden;*/
  padding: 20px;
}

#slider_bound,
#slider_bound1 {
  width: 85%;
  /*  position: absolute;*/
  overflow: hidden;
  padding: 20px;
  margin: auto;
  /*  border: 1px solid silver;*/
}

/*hseInfo*********************************/
.hsep1 {
  margin: 0px 50px;
  display: flex;
  flex-direction: column;
}

#hseh1 {
  /*  text-align: center;*/
  margin: 10px;
}

.hseheadingPart {
  width: 100%;
}

.hseh1_sub {
  display: flex;
  align-items: center;
  font-size: 20px;
  /*  justify-content: space-around;*/
}

.hseh1_sub_1 div {
  text-align: center;
}

.hseh1_sub span,
.hseh1_sub i {
  margin: 0px 5px;
}

#hse_span_Address {
  color: grey;
}


.hseheadingContact {
  margin-left: auto;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
}

.hseheadingContact button {
  background-color: #fd4343;
  outline: none;
  border-radius: 5px;
  color: white;
  border: 1px solid gold;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.hseMainInfoPart {
  display: flex;
  width: 100%;
  /*  justify-content: space-around;*/
  margin-top: 20px;
  background-color: rgba(253, 237, 183, 0.58);
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px 0px rgb(202, 206, 85);
  -moz-box-shadow: 5px 5px 5px 0px rgba(239, 242, 158, 1);
  box-shadow: 5px 5px 5px 5px rgba(237, 126, 93, 0.55);
}

.hsegallery {
  width: 55%;
  /*  min-width: 500px;*/
  margin: 5px 10px;
}

.hseText {
  width: 40%;
  margin: 5px 10px;
  /*  min-width: 200px;*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hsegallery > ul {
  margin: 10px;
}

.hsegallery > ul li {
  display: inline;
  margin: 5px 10px;
  font-size: 18px;
  transition: .3s ease-in-out;
  border
}

.hsegallery > ul > li > a {
  text-decoration: none;
  transition: .3s ease-in-out;
}

.hsegallery ul li a:hover {
  border-bottom: 3px solid rgba(227, 121, 30, 0.84);
  transform: scale(1.1);
}

.hseframe {
  width: 100%;
  min-width: 500px;
  min-height: 500px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 10px 5px;
}

.hseframephoto {
  flex-grow: 8;
  display: flex;
  padding: 5px;
}

.hseframeselector {
  flex-grow: 1;
  display: flex;
  position: relative;
  border: 2px solid red;
  align-items: center;
}


.hseframeselector1,
.hseframeselector2 {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: green;
  width: 40px;
  cursor: pointer;
}

.hseframeselector1 {
  margin-right: auto;
}

.hseframeselector2 {
  margin-left: auto;
}

.hseframeselector img {
  width: 100px;
  height: 100px;
  margin: 0px 15px;
  cursor: pointer;
}

.hseframephoto img {
  width: 100%;
}

.hseText p {
  margin: 10px 5px;
  display: flex;
  margin: 0 auto
    /*  justify-content: space-around*/
}

.hseText_cross {
  text-decoration: line-through;
  font-size: 35px;
  color: rgba(111, 111, 111, 0.84);
  margin-left: 20px;
}

.hseText_dis {
  color: red;
  margin-left: 20px;
  font-size: 30px;
}

#hse_status {
  background-color: #fd4343;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  font-size: 30px;
  color: white;
  text-align: center;
}

#hse_actual_price {
  color: rgba(255, 59, 112, 0.91);
  font-weight: 700;
  font-size: 30px;
  margin-left: 10px;
}

.hse_size_com {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hse_size_com div {
  font-size: 20px;
  margin: 20px;
  font-weight: 700;
  text-align: center;
}

.hseText ul li {
  /*  display: inline-block;*/
  font-size: 20px;
  text-align: center;
  list-style-type: none;
}

.hseText ul li:nth-child(2) {
  color: grey;
  font-size: 20px;
  margin: 60px 0xp;
}

.hseText ul {
  width: 30%;
}

.hseText_ul_con {
  display: flex;
  width: 80%;
  margin: 0px auto;
  justify-content: space-around;
  box-sizing: border-box;
  /*  border: 1px solid yellow;*/
  padding: 15px;
  -webkit-box-shadow: 5px 5px 5px 0px rgb(202, 206, 85);
  -moz-box-shadow: 5px 5px 5px 0px rgba(239, 242, 158, 1);
  box-shadow: 5px 5px 5px 5px rgb(202, 203, 197);
}

#hse_stat_past,
#hse_map,
.hse_map_div,
#hse_est_info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

#hse_map {
  height: 400px;
}

#hse_stat_past h2 {
  margin: 15px
}

/*slideshow****************/
.sp-slideshow {
  position: relative;
  margin: 10px auto;
  /*  width: 80%;*/
  max-width: 800px;
  min-width: 300px;
  height: 400px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.sp-content {
  /*
  background: #7d7f72 url(assets/hse_pixel_hkmap.jpg) repeat scroll 0 0;
  background-size: cover;
*/
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sp-parallax-bg {
  background: url(assets/hse_pixel_hkmap.jpg) repeat-x scroll 0 0;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sp-slideshow input {
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: 9px;
  height: 9px;
  z-index: 1001;
  cursor: pointer;
  opacity: 0;
}

.sp-slideshow input + label {
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: 6px;
  height: 6px;
  display: block;
  z-index: 1000;
  border: 3px solid #fff;
  border: 3px solid rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  transition: background-color linear 0.1s;
}

.sp-slideshow input:checked + label {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
}

.sp-selector-1,
.button-label-1 {
  margin-left: -36px;
}

.sp-selector-2,
.button-label-2 {
  margin-left: -18px;
}

.sp-selector-4,
.button-label-4 {
  margin-left: 18px;
}

.sp-selector-5,
.button-label-5 {
  margin-left: 36px;
}

.sp-arrow {
  position: absolute;
  top: 50%;
  width: 28px;
  height: 38px;
  margin-top: -19px;
  display: none;
  opacity: 0.8;
  cursor: pointer;
  z-index: 1000;
  background: url(./assets/arrows.png) no-repeat;
  /*  background-size: cover;*/
  /*  background-size: 40px 40px;*/
  transition: opacity linear 0.3s;
}

.sp-arrow:hover {
  opacity: 1;
}

.sp-arrow:active {
  margin-top: -18px;
}

.sp-selector-1:checked ~ .sp-arrow.sp-a2,
.sp-selector-2:checked ~ .sp-arrow.sp-a3,
.sp-selector-3:checked ~ .sp-arrow.sp-a4,
.sp-selector-4:checked ~ .sp-arrow.sp-a5 {
  right: 15px;
  display: block;
  background-position: top right;
}

.sp-selector-2:checked ~ .sp-arrow.sp-a1,
.sp-selector-3:checked ~ .sp-arrow.sp-a2,
.sp-selector-4:checked ~ .sp-arrow.sp-a3,
.sp-selector-5:checked ~ .sp-arrow.sp-a4 {
  left: 15px;
  display: block;
  background-position: top left;
}

.sp-slideshow input:checked ~ .sp-content {
  transition: background-position linear 0.6s, background-color linear 0.8s;
}

.sp-slideshow input:checked ~ .sp-content .sp-parallax-bg {
  transition: background-position linear 0.7s;
}

input.sp-selector-1:checked ~ .sp-content {
  background-position: 0 0;
  background-color: #727b7f;
}

input.sp-selector-2:checked ~ .sp-content {
  background-position: -100px 0;
  background-color: #7f7276;
}

input.sp-selector-3:checked ~ .sp-content {
  background-position: -200px 0;
  background-color: #737f72;
}

input.sp-selector-4:checked ~ .sp-content {
  background-position: -300px 0;
  background-color: #79727f;
}

input.sp-selector-5:checked ~ .sp-content {
  background-position: -400px 0;
  background-color: #7d7f72;
}

input.sp-selector-1:checked ~ .sp-content .sp-parallax-bg {
  background-position: 0 0;
}

input.sp-selector-2:checked ~ .sp-content .sp-parallax-bg {
  background-position: -200px 0;
}

input.sp-selector-3:checked ~ .sp-content .sp-parallax-bg {
  background-position: -400px 0;
}

input.sp-selector-4:checked ~ .sp-content .sp-parallax-bg {
  background-position: -600px 0;
}

input.sp-selector-5:checked ~ .sp-content .sp-parallax-bg {
  background-position: -800px 0;
}


.sp-slider {
  position: relative;
  left: 0;
  width: 500%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: left ease-in 0.8s;
}

.sp-slider > li {
  color: #fff;
  width: 20%;
  box-sizing: border-box;
  height: 100%;
  /*  padding: 0 60px;*/
  float: left;
  text-align: center;
  opacity: 0.2;
  transition: opacity ease-in 0.2s 0.1s;
  display: flex;
  align-items: center;
}

.sp-slider > li img {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  max-height: 80%;
  max-width: 80%;
  min-width: 300px;
  border-radius: 5px;
}

input.sp-selector-1:checked ~ .sp-content .sp-slider {
  left: 0;
}

input.sp-selector-2:checked ~ .sp-content .sp-slider {
  left: -100%;
}

input.sp-selector-3:checked ~ .sp-content .sp-slider {
  left: -200%;
}

input.sp-selector-4:checked ~ .sp-content .sp-slider {
  left: -300%;
}

input.sp-selector-5:checked ~ .sp-content .sp-slider {
  left: -400%;
}

input.sp-selector-1:checked ~ .sp-content .sp-slider > li:first-child,
input.sp-selector-2:checked ~ .sp-content .sp-slider > li:nth-child(2),
input.sp-selector-3:checked ~ .sp-content .sp-slider > li:nth-child(3),
input.sp-selector-4:checked ~ .sp-content .sp-slider > li:nth-child(4),
input.sp-selector-5:checked ~ .sp-content .sp-slider > li:nth-child(5) {
  opacity: 1;
}


/*slide end*/


#hse_est_info > div {
  background-color: rgba(191, 247, 193, 0.35);
  border-radius: 10px;
  -webkit-box-shadow: -7px 7px 45px 0px rgba(250, 244, 132, 1);
  -moz-box-shadow: -7px 7px 45px 0px rgba(250, 244, 132, 1);
  box-shadow: -7px 7px 45px 0px rgba(250, 244, 132, 1);
  display: flex;
  flex-direction: column;
  margin: 15px;
}

#hse_est_info > div div {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 15px auto;
}

#hse_est_info .title {
  color: rgb(19, 54, 149);
  font-size: 20px;
  font-weight: 500;
}

#fas span {
  background-color: rgba(201, 200, 181, 0.44);
  display: inline-block;
  margin: 5px;
  font-size: 20px;
}

#hse_vr,
#hse_photo,
#hse_floor {
  display: none;
  max-width: 800px;
  min-width: 300px;
  height: 400px;
}

#hse_vr:target,
#hse_photo:target,
#hse_floor:target {
  display: block;
}

#hse_photo {
  display: block;
}

#hse_vr:target ~ #hse_photo {
  display: none;
}

,
#hse_floor:target ~ #hse_photo {
  display: none;
}

#hse_vr {
  perspective: 400;
}

#hse_vr > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#hse_floor {
  perspective: 800;
}
.hse_flip_plan,.hse_flip_plan .front,.hse_flip_plan .back{
  width: 100%;
  height: 100%;
}
.hse_flip_plan{
position:relative;
  float:left;
  cursor:pointer;
}
.hse_flip_plan .front,.hse_flip_plan .back{
overflow:hidden;
position:absolute;
}

.front img,.back img {
  width: 100%;
  height: 100%;
}

.circle {
  width: 80%;
  height: 80%;
  background: url(assets/hseInfo/clipart-house-mansion-13.png) no-repeat;
  background-size: cover;
  margin: auto;
  cursor: pointer;
  /*-webkit-transform: rotate3d(-1, 1, 0, 0deg);*/
}

/**********done**************/