* {
    margin:0;
    padding:0;
    outline:none;
    scroll-behavior: smooth;
}

html {
    font-family: Karla,Helvetica,Arial,sans-serif;
    line-height: 1.5;
    overflow-y:scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    margin:0;
    padding:0;
    background-color: rgb(185, 219, 209);
}

blockquote {
    color: rgb(250, 64, 64);
    position: sticky;
    z-index:1000;
}

header {
    margin-bottom: 150px;
    display:flex;
    justify-content: space-around;
    position: fixed;
    width:100%;
    top:5px;
    z-index: 1000;
}

header a img{
    padding-top:10px;
}

header ul{
    display:flex;
    width:500px;
    justify-content: space-around;
    list-style:none;
    align-items:center;
}

header ul li{
    font-size: 11pt;
    color: rgb(250, 64, 64);
}

header ul li a {
    font-size: 11pt;
    text-decoration: none;
    color: rgb(250, 64, 64);
    position: relative;
}

header ul li a:after {
    top:90%;
    border-radius: 1em;
    border-top: .1em solid rgb(255, 255, 255);
    content: "";
    position: absolute;
    right: 100%;
    bottom: .14em;
    left: 0;
    transition: right .4s cubic-bezier(0,.5,0,1);
}

header ul li a:hover:after {
    right: 0;
  }

.first-0, .first-1{
    width:100%;
    height:100%;
    object-fit: cover;
}

.test {
    height: 100vh;
}

.test blockquote {
    font-size: 2em;
    font-weight: lighter;
    position: absolute;
    margin: 20% 0 0 5%;
}

.first-section{
    overflow: hidden;
    width:100%;
    height:120vh;
    position: relative;
    box-sizing: border-box;
}

.first-section blockquote {
    font-size: 2rem;
    font-weight: lighter;
    position: absolute;  
    margin: 20% 0 0 5%;
}

blockquote span {
    width:100%;
    background: rgb(255, 255, 255);
    display: block;
    height: 5px;
    margin-top: 10px;
}

.first-section .first-0{
    position: absolute;
    top:50px;
    left: 0;
}

.first-section .first-1{
    position: absolute;
    top:50px;
    left: 0;
}

.first-section .first-2{
    max-width: 20%;
    position: absolute;
    top:10%;
    right:10%;
}

.first-section .first-3{
    max-width:10%;
    position: absolute;
    top:15%;
    left:10%;
}

.second-section{
    width: 100%;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.blockquote2-container {
    margin-top: 250px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blockquote2-div1{
    margin-bottom: 90px;
}

.blockquote2-div2{
    margin-top: 90px;
}

.blockquote2-container blockquote {
    display:inline-block;
    font-size: 2rem;
    font-weight: lighter;
}

.blockquote2-container blockquote:nth-child(1) {
    margin-right: 40vw;
}

.second-section img{
    max-width:100%;
    max-height:100%;
    position: absolute;
    top:20%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;
}

.second-0 {
    z-index:200;
}

.second-4 {
    z-index:5;
}

.third-section{
    width: 100%;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
}
